@using SecureAuthenticationSystem.ViewModels;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">
    <div class="account-box">


        <h2 class="text-center mb-4">Login</h2>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" class="form-control" id="emailAddress" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lfgjz8qAAAAALhm8VTLp-RPPvsvEsXiUIBkj5Bg"></div>
            <div class="float-end">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
                    Forgot password?
                </a>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>
            <input type="button" value="Login" onclick="LoginButton()" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3"></a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    <script>
        function LoginButton() {
            const reCaptchaResponse = grecaptcha.getResponse();
            const email = $("#emailAddress").val();
            const password = $("#password").val();
            if (reCaptchaResponse) {
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7296/account/login",
                    data: { email: email, password: password, captchaResponse: reCaptchaResponse },
                    success: function (data) {
                        window.location.href = "/Home";
                    },
                    error: function (error) {
                        alert("Please try again");
                    }
                });
            }
            else {
                alert("Something went wrong with reCaptcha. Please try again!");
            }
        }</script>
} 