@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center" style="background-image:url('../NewFolder/Image2.png'); background-size: cover; background-position: center; height: 100vh;">

    <h3 class="display-6">Welcome to Secure Authentication System </h3>
    <p> <a href="https://learn.microsoft.com/aspnet/core">Your Trusted and Secure Registration Platform</a></p> 
    @* <p>@ViewBag</p> *@
</div>
